@{
    ViewData["Title"] = "Home Page";
}

<main>
    <div class="Row">
        <section>
            <li class="dropdown">
                <a id="dropdown_menu01" data-bs-toggle="dropdown" aria-expanded="false"> 
                    <span>Jogo</span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdown_menu01">
                    <li><a  class="dropdown-item">Cadastro</a></li>
                    <li><a href="jogo/index" class="dropdown-item">Listagem</a></li>
                </ul>
            </li>
        </section>

    </div>
</main>